.grid-video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 350px;
  gap: 20px;
}

.grid-video>* {
  place-self: stretch;
}

.grid-tasks {
  display: grid;
  height: 871px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
}

.grid-task {
  display: grid;
  gap: 2px;
  box-shadow: 0 2px 4px 2px var(--color-shadow);
}

.grid-task>* {
  background-image: linear-gradient(to left bottom, var(--color-black), var(--color-primary));
}

.grid-task--1 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-task--2 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-task--14 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
