@import "src/styles/variables/colors";

.container {
  display: flex;
  justify-content: space-between;
  & > span:first-of-type {
    color: $primary;
    font-style: italic;
    &::after {
      content: ":";
    }
  }
  & > span:nth-of-type(2) {
    font-weight: 600;
  }
}
