:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-hover: #222;
  --color-white-hover: #ddd;

  --spacing-0: 0; 
  --spacing-1: 0.25rem; 
  --spacing-2: 0.5rem; 
  --spacing-3: 1rem; 
  --spacing-4: 1.5rem; 
  --spacing-5: 3rem; 
}