@charset "UTF-8";
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.75em 1em;
  letter-spacing: 0.075em;
}

.btn-white {
  background-color: #fff;
  color: #000;
}
.btn-white:hover {
  background-color: #f0f0f0;
}

.btn-black {
  background-color: #000;
  color: #fff;
}
.btn-black:hover {
  background-color: #0f0f0f;
}

.btn-primary {
  background-color: #00109e;
  color: #fff;
}
.btn-primary:hover {
  background-color: #0013bd;
}

.btn-error {
  background-color: #d70000;
  color: #000;
}
.btn-error:hover {
  background-color: #b80000;
}

.btn-warning {
  background-color: #d5c704;
  color: #000;
}
.btn-warning:hover {
  background-color: #b7ab03;
}

.btn-success {
  background-color: #04cb75;
  color: #000;
}
.btn-success:hover {
  background-color: #03ad64;
}

.m-0 {
  margin: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.m-1 {
  margin: 4px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.mt-1 {
  margin-top: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.m-2 {
  margin: 8px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.mt-2 {
  margin-top: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.m-3 {
  margin: 16px;
}

.my-3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mx-3 {
  margin-left: 16px;
  margin-right: 16px;
}

.mt-3 {
  margin-top: 16px;
}

.mr-3 {
  margin-right: 16px;
}

.mb-3 {
  margin-bottom: 16px;
}

.ml-3 {
  margin-left: 16px;
}

.m-4 {
  margin: 24px;
}

.my-4 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mx-4 {
  margin-left: 24px;
  margin-right: 24px;
}

.mt-4 {
  margin-top: 24px;
}

.mr-4 {
  margin-right: 24px;
}

.mb-4 {
  margin-bottom: 24px;
}

.ml-4 {
  margin-left: 24px;
}

.m-5 {
  margin: 48px;
}

.my-5 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.mx-5 {
  margin-left: 48px;
  margin-right: 48px;
}

.mt-5 {
  margin-top: 48px;
}

.mr-5 {
  margin-right: 48px;
}

.mb-5 {
  margin-bottom: 48px;
}

.ml-5 {
  margin-left: 48px;
}

.m-6 {
  margin: 80px;
}

.my-6 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mx-6 {
  margin-left: 80px;
  margin-right: 80px;
}

.mt-6 {
  margin-top: 80px;
}

.mr-6 {
  margin-right: 80px;
}

.mb-6 {
  margin-bottom: 80px;
}

.ml-6 {
  margin-left: 80px;
}

.m-7 {
  margin: 112px;
}

.my-7 {
  margin-top: 112px;
  margin-bottom: 112px;
}

.mx-7 {
  margin-left: 112px;
  margin-right: 112px;
}

.mt-7 {
  margin-top: 112px;
}

.mr-7 {
  margin-right: 112px;
}

.mb-7 {
  margin-bottom: 112px;
}

.ml-7 {
  margin-left: 112px;
}

.m-8 {
  margin: 160px;
}

.my-8 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.mx-8 {
  margin-left: 160px;
  margin-right: 160px;
}

.mt-8 {
  margin-top: 160px;
}

.mr-8 {
  margin-right: 160px;
}

.mb-8 {
  margin-bottom: 160px;
}

.ml-8 {
  margin-left: 160px;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.p-0 {
  padding: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.p-1 {
  padding: 4px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.pt-1 {
  padding-top: 4px;
}

.pr-1 {
  padding-right: 4px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pl-1 {
  padding-left: 4px;
}

.p-2 {
  padding: 8px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.pt-2 {
  padding-top: 8px;
}

.pr-2 {
  padding-right: 8px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pl-2 {
  padding-left: 8px;
}

.p-3 {
  padding: 16px;
}

.py-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.pt-3 {
  padding-top: 16px;
}

.pr-3 {
  padding-right: 16px;
}

.pb-3 {
  padding-bottom: 16px;
}

.pl-3 {
  padding-left: 16px;
}

.p-4 {
  padding: 24px;
}

.py-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.px-4 {
  padding-left: 24px;
  padding-right: 24px;
}

.pt-4 {
  padding-top: 24px;
}

.pr-4 {
  padding-right: 24px;
}

.pb-4 {
  padding-bottom: 24px;
}

.pl-4 {
  padding-left: 24px;
}

.p-5 {
  padding: 48px;
}

.py-5 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.px-5 {
  padding-left: 48px;
  padding-right: 48px;
}

.pt-5 {
  padding-top: 48px;
}

.pr-5 {
  padding-right: 48px;
}

.pb-5 {
  padding-bottom: 48px;
}

.pl-5 {
  padding-left: 48px;
}

.p-6 {
  padding: 80px;
}

.py-6 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.px-6 {
  padding-left: 80px;
  padding-right: 80px;
}

.pt-6 {
  padding-top: 80px;
}

.pr-6 {
  padding-right: 80px;
}

.pb-6 {
  padding-bottom: 80px;
}

.pl-6 {
  padding-left: 80px;
}

.p-7 {
  padding: 112px;
}

.py-7 {
  padding-top: 112px;
  padding-bottom: 112px;
}

.px-7 {
  padding-left: 112px;
  padding-right: 112px;
}

.pt-7 {
  padding-top: 112px;
}

.pr-7 {
  padding-right: 112px;
}

.pb-7 {
  padding-bottom: 112px;
}

.pl-7 {
  padding-left: 112px;
}

.p-8 {
  padding: 160px;
}

.py-8 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.px-8 {
  padding-left: 160px;
  padding-right: 160px;
}

.pt-8 {
  padding-top: 160px;
}

.pr-8 {
  padding-right: 160px;
}

.pb-8 {
  padding-bottom: 160px;
}

.pl-8 {
  padding-left: 160px;
}

/*
  Sugeneruokite apačioje esančias klases, naudojant 
    * kintamuosius:
      * $spacings - aprašytas faile base/_variables.scss
    * direktyvas:
      * @each RAKTAS, REIKŠMĖ in MAP_STRUKTŪRA
    * funkcijas
      * map-remove(IŠ_KO_PAŠALINTI, KOKIĄ_SAVYBĘ_PAŠALINTI)

    eiga:
      * Sukurkite map struktūrą $gaps naudodami $spacings ir funkciją map-remove, kad pašalinti savybę "auto"
      * Sukurkite tris ciklus @each kiekvienai .g-* grupei
      !!!!!!!!! NEBŪTINA, BET VERTA !!!!!!!!!
      *  Pabandykite susikurti papildomų struktūrų, kad tai atlinkti su ciklu cikle
*/
.g-0 {
  gap: var(--spacing-0);
}

.g-1 {
  gap: var(--spacing-1);
}

.g-2 {
  gap: var(--spacing-2);
}

.g-3 {
  gap: var(--spacing-3);
}

.g-4 {
  gap: var(--spacing-4);
}

.g-5 {
  gap: var(--spacing-5);
}

.g-6 {
  gap: var(--spacing-6);
}

.g-7 {
  gap: var(--spacing-7);
}

.g-8 {
  gap: var(--spacing-8);
}

.gy-0 {
  column-gap: var(--spacing-0);
}

.gy-1 {
  column-gap: var(--spacing-1);
}

.gy-2 {
  column-gap: var(--spacing-2);
}

.gy-3 {
  column-gap: var(--spacing-3);
}

.gy-4 {
  column-gap: var(--spacing-4);
}

.gy-5 {
  column-gap: var(--spacing-5);
}

.gy-6 {
  column-gap: var(--spacing-6);
}

.gy-7 {
  column-gap: var(--spacing-7);
}

.gy-8 {
  column-gap: var(--spacing-8);
}

.gx-0 {
  row-gap: var(--spacing-0);
}

.gx-1 {
  row-gap: var(--spacing-1);
}

.gx-2 {
  row-gap: var(--spacing-2);
}

.gx-3 {
  row-gap: var(--spacing-3);
}

.gx-4 {
  row-gap: var(--spacing-4);
}

.gx-5 {
  row-gap: var(--spacing-5);
}

.gx-6 {
  row-gap: var(--spacing-6);
}

.gx-7 {
  row-gap: var(--spacing-7);
}

.gx-8 {
  row-gap: var(--spacing-8);
}

/*# sourceMappingURL=main.css.map */
