$white: #fff;
$black: #000;
$primary: #00109e;
$error: #d70000;
$warning: #d5c704;
$success: #04cb75;

$colors: (
  "white": $white,
  "black": $black,
  "primary": $primary,
  "error": $error,
  "warning": $warning,
  "success": $success,
);

$rem: 16px;

$spacings: (
  "0": 0 * $rem,
  "1": 0.25 * $rem,
  "2": 0.5 * $rem,
  "3": 1 * $rem,
  "4": 1.5 * $rem,
  "5": 3 * $rem,
  "6": 5 * $rem,
  "7": 7 * $rem,
  "8": 10 * $rem,
);

$breakpoints: (
  "sm": 580px,
  "md": 800px,
  "lg": 1200px,
  "xl": 1440px,
);

$border-radius: 4px;

$font-general: Roboto;
$font-decoration: "Bitter", serif;
$font-ui: "Red Hat Mono", monospace;

$headings: (
  "h1": 3 * $rem,
  "h2": 2.5 * $rem,
  "h3": 1.8 * $rem,
  "h4": 1.55 * $rem,
  "h5": 1.3 * $rem,
  "h6": 1 * $rem,
);
