.square {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: grey;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}